.main_contacto {
    filter: saturate(0) brightness(30%);
    position: relative;
    height: 100vh;
    background-image: url(../assets/contacto.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.contacto_superpuesto {
    position: absolute;
    top: 0px;
    transform: translate(0%, 0%);
    text-align: center;
    color: #fff;
    margin-top: 20px;
    z-index: 2;
}

.main_contacto-section {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulariocontacto {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.titulocontacto {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    color: #ED6FBA;
    padding: 50px 200px 20px 200px;
}

.textocontacto {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    color: #f2f2f2;
    padding: 5px 200px 20px 200px;
    font-size: 20px;
}

.contacto-boton {
    background-color: #ED6FBA;
    border: 2px solid #ED6FBA;
    border-radius: 6px;
    color: #FFF;
}

.contacto-input:focus {
    outline: 2px solid #eb81c0;
    box-shadow: 0 0 0 3px white;
}


@media (min-width: 577px) and (max-width: 991px) {
    .textocontacto {
        font-family: 'Titillium Web', sans-serif;
        font-weight: 400;
        color: #f2f2f2;
        padding: 5px 50px 20px 50px;
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .main_contacto {
        filter: saturate(0) brightness(30%);
        position: relative;
        width: 100vw;
        height: 120vh;
        background-image: url(../assets/contacto.jpg);
        background-size: cover;
        background-position: center;
        z-index: 1;
    }
    .contacto_superpuesto {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        transform: translate(0%, 0%);
        text-align: center;
        color: #fff;
        margin-top: 120px;
        z-index: 2;
    }
    .titulocontacto {
        font-family: 'Raleway',sans-serif;
        font-weight: 700;
        margin-bottom: 0px;
        color: #ED6FBA;
        padding: 50px 0px 0px 0px;
    }
    .textocontacto {
        font-family: 'Titillium Web', sans-serif;
        font-weight: 400;
        color: #f2f2f2;
        padding: 50px 50px 20px 50px;
        font-size: 18px;
    }
    .contacto-boton {
        width: 300px !important;
    }
    .contacto_input-mensaje {
        width: 300px !important;
    }
    .contacto_input-nombre {
        width: 145px !important;
    }
    .contacto_input-email {
        width: 145px !important;
    }
    .contacto_input-motivos {
        width: 300px !important;
    }
}

@media (max-width: 320px) {
    .main_contacto {
        filter: saturate(0) brightness(30%);
        position: relative;
        height: 120vh;
        width: 100vw;
        background-image: url(../assets/contacto.jpg);
        background-size: cover;
        background-position: center;
        z-index: 1;
    }
    .titulocontacto {
        font-family: 'Raleway',sans-serif;
        font-weight: 700;
        margin-bottom: 0px;
        color: #ED6FBA;
        padding: 250px 0px 20px 0px;
    }
    .contacto_superpuesto {
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        transform: translate(0%, 0%);
        text-align: center;
        color: #fff;
        margin-top: 20px;
        z-index: 2;
    }
    .textocontacto {
        font-family: 'Titillium Web', sans-serif;
        font-weight: 400;
        color: #f2f2f2;
        padding: 20px 50px 0px 50px;
        font-size: 16px;
    }
    .contacto-boton {
        width: 150px !important;
    }
    .contacto_input-mensaje {
        width: 150px !important;
    }
    .contacto_input-nombre {
        width: 70px !important;
    }
    .contacto_input-email {
        width: 70px !important;
    }
    .contacto_input-motivos {
        width: 150px !important;
    }
}