.main_roster {
    display: flex;
    flex-direction: column;
    margin-top: 9vh;
    padding-bottom: 40px;
    background-color: $color-bg;
}

.main_roster-seccion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.roster_titulo {
    text-align: center;
    font-family: $fuente-principal;
    font-weight: 700;
    margin-top: 40px;
    color: $color-rosa_principal;
}

.roster-seccion-1 {
    display: flex;
}
.roster-seccion-2 {
    display: flex;
}
.roster_individual {
    margin: 0 20px;
    cursor: pointer;
}

.noticias-calendario {
    display: flex;
    justify-content: center;
}
.seccion_noti-cal {
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
}

.noticias {
    display: inline-flex;
    flex-wrap: wrap;
    width: auto;
    gap: 50px;
}

.card {
    margin:5px;
    width: 350px;
}

.calendario {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.calendario h2 {
    font-family: $fuente-principal;
    text-align: center;
    margin-bottom: 15px;
    color: $color-blanco;
}


table {
    border-collapse: collapse;
    font-family: $fuente-secundaria;
    font-weight: 400;
    border: 1px solid $color-blanco;
}

th, td {
    text-align: center;
    padding: 10px;
}

th {
    background-color: $color-header_footer;
    color: $color-blanco;
}

td {
    border: 1px solid $color-rosa_principal;
    background-color: $color-header_footer;
}

.today {
    background-color: $color-blanco;
    color: $color-header_footer;
    font-weight: 700;
    font-size: 20px;
}

.evento {
    background-color: $color-rosa_principal;
    color: $color-header_footer;
    font-weight: 700;
    cursor:pointer
}

.evento:hover {
    background-color: #eb91c7 ;
}

.diadelmes{
    color: $color-blanco;
}

.diaotromes{
    color: #666666;
}

.card-body {
    background-color: $color-header_footer;
    font-family: $fuente-secundaria;
    color: $color-blanco;
}

.bordecolor {
    border: 1px solid $color-rosa_principal;
    border-radius: 0px;
}

.card {
    --bs-card-bg: 0;
}

@media (max-width:1400px) {
    .main_roster-seccion {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        margin-top: 60px;
        margin-bottom: 40px;
    }
}

@media (min-width: 992px) {
    .main_roster {
        display: flex;
        flex-direction: column;
        margin-top: 9vh;
        padding-bottom: 40px;
        background-color: $color-bg;
    }

    .main_roster-seccion {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 40px;
    }

    .roster-seccion-1 {
        display: flex;
    }

    .roster-seccion-2 {
        display: flex;
    }

    .roster_individual {
        cursor: pointer;
    }
    
    .noticias-calendario {
        display: flex;
        justify-content: center;
    }
    
    .seccion_noti-cal {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }
    
    .noticias {
        display: inline-flex;
        flex-wrap: wrap;
        width: auto;
        gap: 50px;
    }
    
    .card {
        margin:5px;
        width: 300px;
    }
    
    .calendario {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .calendario h2 {
        font-family: $fuente-principal;
        text-align: center;
        margin-bottom: 15px;
        color: $color-blanco;
    }
    
    table {
        border-collapse: collapse;
        font-family: $fuente-secundaria;
        font-weight: 400;
        border: 1px solid $color-blanco;
    }
    
    th, td {
        text-align: center;
        padding: 10px;
    }
    
    th {
        background-color: $color-header_footer;
        color: $color-blanco;
    }
    
    td {
        border: 1px solid $color-rosa_principal;
        background-color: $color-header_footer;
    }
    
    .today {
        background-color: $color-blanco;
        color: $color-header_footer;
        font-weight: 700;
        font-size: 20px;
    }
    
    .evento {
        background-color: $color-rosa_principal;
        color: $color-header_footer;
        font-weight: 700;
        cursor:pointer
    }
    
    .evento:hover {
        background-color: #eb91c7 ;
    }
    
    .diadelmes{
        color: $color-blanco;
    }
    
    .diaotromes{
        color: #666666;
    }
    
    .card-body {
        background-color: $color-header_footer;
        font-family: $fuente-secundaria;
        color: $color-blanco;
    }
    
    .bordecolor {
        border: 1px solid $color-rosa_principal;
        border-radius: 0px;
    }
    
    .card {
        --bs-card-bg: 0;
    }
}


@media (min-width: 577px) and (max-width: 991px) {
    .main_roster {
        display: flex;
        flex-direction: column;
        margin-top: 90px;
        padding-bottom: 40px;
        background-color: $color-bg;
    }
    
    .main_roster-seccion {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .roster-seccion-1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .roster-seccion-2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .roster_individual {
        margin: 20px;
        img {
            width: 250px;
            cursor: pointer;
        }
    }

    .noticias-calendario {
        display: flex;
        justify-content: center;
    }
    .seccion_noti-cal {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }
    
    .noticias {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0px;
    }
    
    .card {
        margin: 5px;
        width: 350px;
        max-width: none;
    }

        .calendario {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        margin-top: 20px;
    }
    
    .calendario h2 {
        font-family: $fuente-principal;
        text-align: center;
        margin-bottom: 15px;
        color: $color-blanco;
        margin-top: 0px;
    }
        
    table {
        border-collapse: collapse;
        font-family: $fuente-secundaria;
        font-weight: 400;
        border: 1px solid $color-blanco;
    }
    
    th, td {
        text-align: center;
        padding: 10px;
    }
    
    th {
        background-color: $color-header_footer;
        color: $color-blanco;
    }
    
    td {
        border: 1px solid $color-rosa_principal;
        background-color: $color-header_footer;
    }
    
    .today {
        background-color: $color-blanco;
        color: $color-header_footer;
        font-weight: 700;
        font-size: 20px;
    }
    
    .evento {
        background-color: $color-rosa_principal;
        color: $color-header_footer;
        font-weight: 700;
        cursor:pointer
    }
    
    .evento:hover {
        background-color: #eb91c7 ;
    }
    
    .diadelmes{
        color: $color-blanco;
    }
    
    .diaotromes{
        color: #666666;
    }
    
    .card-body {
        background-color: $color-header_footer;
        font-family: $fuente-secundaria;
        color: $color-blanco;
    }
    
    .bordecolor {
        border: 1px solid $color-rosa_principal;
        border-radius: 0px;
    }

}

@media (max-width: 576px) {
    .main_roster {
        display: flex;
        flex-direction: column;
        margin-top: 90px;
        padding-bottom: 40px;
        background-color: $color-bg;
    }
    
    .main_roster-seccion {
        margin-top: 20px;
        gap: 0px;
        margin-bottom: 20px;
    }
    .roster-seccion-1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .roster-seccion-2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .roster_individual {
        margin: 20px;
        img {
            width: 150px;
            cursor:pointer
        }
    }
    .noticias-calendario {
        display: flex;
        justify-content: center;
    }
    .seccion_noti-cal {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }
    
    .noticias {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0px;
    }
    
    .card {
        margin: 5px;
        width: 300px;
        max-width: none;
    }

    .calendario {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        margin-top: 20px;
    }
    
    .calendario h2 {
        font-family: $fuente-principal;
        text-align: center;
        margin-bottom: 15px;
        color: $color-blanco;
        margin-top: 0px;
    }
        
    table {
        width: auto;
        border-collapse: collapse;
        font-family: $fuente-secundaria;
        font-weight: 400;
        border: 1px solid $color-blanco;
    }
    
    th, td {
        text-align: center;
        padding: 10px;
    }
    
    th {
        background-color: $color-header_footer;
        color: $color-blanco;
    }
    
    td {
        border: 1px solid $color-rosa_principal;
        background-color: $color-header_footer;
    }
    
    .today {
        background-color: $color-blanco;
        color: $color-header_footer;
        font-weight: 700;
        font-size: 20px;
    }
    
    .evento {
        background-color: $color-rosa_principal;
        color: $color-header_footer;
        font-weight: 700;
        cursor:pointer
    }
    
    .evento:hover {
        background-color: #eb91c7 ;
    }
    
    .diadelmes{
        color: $color-blanco;
    }
    
    .diaotromes{
        color: #666666;
    }
    
    .card-body {
        background-color: $color-header_footer;
        font-family: $fuente-secundaria;
        color: $color-blanco;
    }
    
    .bordecolor {
        border: 1px solid $color-rosa_principal;
        border-radius: 0px;
    }
}


@media (max-width: 320px) {
    .main_roster-seccion {
        gap: 0px;
        margin-top: 10px;
    }
    .roster_individual {
        margin: 5px;
        img {
            width: 100px;
            cursor:pointer
        }
    }
    .noticias {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0px;
    }
    
    .card {
        margin: 5px;
        width: 250px;
        max-width: none;
    }
}