* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row {
    --bs-gutter-x: 0rem;
}

.container-fluid {
    --bs-gutter-x: 0rem;
}

/* HEADER */
/* HEADER-CENTRO */
.navbar {
    top: 0;
    position: fixed;
    z-index: 2;
    width: 100vw;
    --bs-emphasis-color: #171717;
    --bs-navbar-padding-y: 1.2rem;
}

.nav_headerlogo {
    margin-left: 6rem;
}

.nav_headerlogo:active {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(147%) hue-rotate(161deg) brightness(88%) contrast(82%);
}


.nav_centro-texto a {
    color: #f2f2f2;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
}

.nav-link:focus{
    color: #ED6FBA;
}

.nav-link:hover {
    color: #ffb2e0;
}

.nav-link:active {
    color: #ee56b1;
}

.nav-link[aria-current="page"] {
    color: #ED6FBA;
}

.nav-item.dropdown:focus-within .nav-link {
    color: #ffb2e0;
}

.dropdown-menu {
    --bs-dropdown-bg: #171717;
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-link-color: #ED6FBA;
    --bs-dropdown-link-hover-color: #fff;
    --bs-dropdown-link-hover-bg: #ED6FBA;
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #ee56b1;
    --bs-dropdown-min-width: 6rem;
    --bs-dropdown-item-padding-x: 0.5rem;
}

/* No creo que width sea lo mejor ya que no es exacto, pero no encontre otra forma de acortar el ancho del hover en el item del drop menu */
.dropdown-item {
    width: 92%;
}


.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}



/* HEADER-DERECHA */
form{
    margin-right: 6rem;
}
.form-control {
    --bs-border-color: #eb81c0;
}
.form-control:focus {
    border-color: #ED6FBA;
    box-shadow: 0 0 0 0.25rem rgba(250, 101, 230, 0.466);
}

.texto-input {
    font-family: "Titillium Web", sans-serif;
}

.texto-boton-primario {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: medium;
    --bs-btn-bg: #ED6FBA;
    --bs-btn-border-color: #ED6FBA;
    --bs-btn-hover-color: #FFF;
    --bs-btn-hover-bg: #eb81c0;
    --bs-btn-hover-border-color: #eb6cb8;
    --bs-btn-active-bg: #ee56b1;
    --bs-btn-active-border-color: #ee56b1;
    margin-left: 5px;
}

.texto-boton-secundario {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: small;
    --bs-btn-color: #fff;
    --bs-btn-border-color: #ED6FBA;
    --bs-btn-hover-bg: #eb81c0;
    --bs-btn-hover-border-color: #eb6cb8;
    --bs-btn-active-bg: #ee56b1;
    --bs-btn-active-border-color: #ee56b1;
}
/* esto lo iba a usar una vez que el usuario se registraba, lo dejo por si en algun momento lo agrego */
/* .icon-busqueda {
    margin-right: 10px;
}

.icon-notificaciones {
    margin: 0 40px 0 0;
}

.carrito {
    display: flex;
    align-items: center;
    margin: 0 10px 0 10px;
    padding: 2px 16px;
    border: #ED6FBA solid 2px;
    border-radius: 4px;
    background-color: #eb91c7;
    cursor: pointer;
}

.carrito:hover {
    background-color: #ED6FBA;
}

.carrito:active {
    background-color: #e98bc3;
}

.textocarrito {
    color: #f2f2f2;
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}

.spancarritopalo {
    color: #ED6FBA;
    font-weight: 900;
    margin-left: 16px;
    margin-right: 4px;
}

.icon-usuario {
    margin: 0 0 0 20px;
} */

/* MAIN */
main {
    
    padding: 0;
    margin: 0;
}
/* ROSTER */
.main_roster {
    display: flex;
    flex-direction: column;
    margin-top: 9vh;
    padding: 0;
    background-color: #0f0f0f;
}

.main_roster-seccion {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: start;
}

.roster_individual {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.noticias-calendario {
    display: flex;
    justify-content: center;
}
.seccion_noti-cal {
    display: flex;
    flex-wrap: wrap;
    gap: 16rem;
}

.noticias {
    display: inline-flex;
    flex-wrap: wrap;
    width: auto;
}

.card {
    margin:5px;
}

/* --FOOTER-- */
.footer-bg {
    background-color: #171717;
}

/* FOOTER IZQUIERDA */
.footer_izquierda {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* FOOTER CENTRO */
.footer_centro {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.footer_texto-titulo {
    text-align: center;
    color: #ed6fba;
}

.footer_iconosredes{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
    justify-content: center;
}

.footer_iconosredes-x {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.footer_centro-derechos {
    display: flex;
    flex-direction: column;
}

.footer_centro-derechos p{
    text-align: center;
    margin: 0px;
}

.footer_derechostexto {
    color: #ed6fba;
    font-weight: 700;
}

/* FOOTER DERECHA */
.footer_derecha {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.footer_derecha-navegacion {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: 'Raleway', sans-serif;
    list-style: none;
    font-weight: 700;
    margin-bottom: 30px;
}

.footer_derecha-navegacion a {
    color: #f2f2f2;
    text-decoration: none;
}

.footer_derecha-navegacion a:hover{
    color: #ed6fba;
}

.footer_derecha-navegacion a:active{
    color: #ee56b1;
}

/* FOOTER ICONOS COLORES */
.coloriconredes {
    filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(6879%) hue-rotate(200deg) brightness(122%) contrast(90%);
    margin: 0;
    padding: 0;
}

.coloriconredes:hover {
    filter: brightness(0) saturate(100%) invert(59%) sepia(61%) saturate(1379%) hue-rotate(290deg) brightness(101%) contrast(86%);
}

.coloriconredes:active {
    filter: brightness(0) saturate(100%) invert(65%) sepia(28%) saturate(712%) hue-rotate(276deg) brightness(98%) contrast(87%);
}

.coloricontop {
    filter: brightness(0) saturate(100%) invert(59%) sepia(61%) saturate(1379%) hue-rotate(290deg) brightness(101%) contrast(86%);
    margin: 0;
    padding: 0;
}

.coloricontop:hover {
    filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(6879%) hue-rotate(200deg) brightness(122%) contrast(90%);
}

.coloricontop:active {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(147%) hue-rotate(161deg) brightness(88%) contrast(82%);
}

.calendario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.calendario h2 {
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin-bottom: 15px;
    color: #f2f2f2;
}

.table-responsive table {
    width: 100%;
    max-width: 100%;
}

table {
    width: auto;
    border-collapse: collapse;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    border: 1px solid #f2f2f2;
}

th, td {
    text-align: center;
    padding: 10px;
}

th {
    background-color: #171717;
    color: #f2f2f2;
}

td {
    border: 1px solid #ED6FBA;
    background-color: #171717;
}

.today {
    background-color: #f2f2f2;
    color:#171717;
    font-weight: 700;
    font-size: 20px;
}

.evento {
    background-color: #ED6FBA;
    color:#171717;
    font-weight: 700;
    cursor:pointer
}

.evento:hover {
    background-color: #eb91c7 ;
}

.diadelmes{
    color: #f2f2f2;
}

.diaotromes{
    color: #666666;
}

.card-body {
    background-color: #171717;
    font-family: "Titillium Web", sans-serif;
    color: #f2f2f2;
}

.bordecolor {
    border: 1px solid #ED6FBA;
    border-radius: 0px;
}

.card {
    --bs-card-bg: 0;
}

.heroimagen {
    clip-path: inset(0 0 220px 0);
    filter: brightness(50%);
}

/* --CONTACTO-- */
.main_contacto {
    padding-top: 80px;
    filter: saturate(0) blur(1px);
    position: absolute;
    z-index: -1;
}

.main_contacto-section {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.600);
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.formulariocontacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.titulocontacto {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    color: #ED6FBA;
    padding: 50px 200px 20px 200px;
}

.textocontacto {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    color: #f2f2f2;
    padding: 50px 200px 20px 200px;
    font-size: 20px;
}

.contacto-boton {
    background-color: #ED6FBA;
    border: 2px solid #ED6FBA;
    border-radius: 6px;
    color: #FFF;
}

.contacto-input:focus {
    outline: 2px solid #eb81c0;
    box-shadow: 0 0 0 3px white;
}
