* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f0f0f;
    height: 10vh;
    margin: 0;
    padding: 0;
}

/* nav lado izquierdo */
.navizquierda {
    margin: 0 20px;
}

.logo {
    margin: 0;
}

/* nav lado centro */
.navcentro_ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navcentro_ul a {
    color: #f2f2f2;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    margin: 10px;
}

li a:hover {
    color: #ED6FBA;
}
li a:active {
    color: #e98bc3;
}

/* nav lado derecho */
.navderecha {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.barrabuscador {
    margin-right: 5px;
    border: 4px solid #171717;
    font-family: 'Titillium Web', sans-serif;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 4px 16px;
}
.barrabuscador:focus {
    border-width: 4px;
    border-color: #f2f2f2;
    outline: none;
}

.icon-notificaciones {
    margin: 0 40px 0 0;
}

.carrito {
    display: flex;
    align-items: center;
    /* margin: 0 10px 0 10px; */
    padding: 2px 16px;
    border: #ED6FBA solid 2px;
    border-radius: 4px;
    background-color: #eb91c7;
    cursor: pointer;
}

.carrito:hover {
    background-color: #ED6FBA;
}
.carrito:active {
    background-color: #e98bc3;
}
.textocarrito {
    color: #f2f2f2;
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}

span {
    color: #ED6FBA;
    font-weight: 900;
    margin-left: 16px;
    margin-right: 4px;
}

.icon-usuario {
    margin: 0 0 0 20px;
}

/* main */
main {
    background-color: #010101;
    height: 100vh;
}

/* footer */
footer {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0f0f0f;
    height: 30vh;
    width: 100;
}

.footerizquierda {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .footerizquierda_ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }
  
  .footer_tituloredes {
    color: #e98bc3;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
    padding: 0;
  }
  
  .footerizquierda_redes {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

/* iconos footer */
.coloriconredes {
    filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(6879%) hue-rotate(200deg) brightness(122%) contrast(90%);
    margin: 0;
    padding: 0;
}
.coloriconredes:hover {
    filter: brightness(0) saturate(100%) invert(59%) sepia(61%) saturate(1379%) hue-rotate(290deg) brightness(101%) contrast(86%);
}
.coloriconredes:active {
    filter: brightness(0) saturate(100%) invert(65%) sepia(28%) saturate(712%) hue-rotate(276deg) brightness(98%) contrast(87%);
}

.coloricontop {
    filter: brightness(0) saturate(100%) invert(59%) sepia(61%) saturate(1379%) hue-rotate(290deg) brightness(101%) contrast(86%);
    margin: 0;
    padding: 0;
}
.coloricontop:hover {
    filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(6879%) hue-rotate(200deg) brightness(122%) contrast(90%);
}
.coloricontop:active {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(147%) hue-rotate(161deg) brightness(88%) contrast(82%);
}

.footercentro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 80px;

}

.footercentro p {
    color: #f2f2f2;
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.footerderecha {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }

.footer_navegacion-titulo {
    color: #e98bc3;
    font-family: 'Raleway', sans-serif;
    padding: 0;
}

.footer_navegacion {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    list-style: none;
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.footer_navegacion a {
    color: #f2f2f2 ;
    text-decoration: none;
}